.box {
    height: 250;
    width:250;
    background-color: #DDC9B4;
    padding-top: 20;
    padding-bottom: 20;
    padding-right: 10;
    padding-left: 30;
    margin: 20;
    border: 5px solid #BCAC9B;
    box-sizing:border-box;
}
h2 {
    color: cornflowerblue;
    font-size: 30px;
}
nav {
    position: absolute;
    left: 670px;
}
.cont {
    position: relative;
    background-color:brown;
    height:300px;
}