body {
    background-color: #f0ece0;
}
h1 {
    color: #cc493d;
    font-size: 50px;
    text-align: center;
}
.author {
    color:#cc493d;
    text-align:center;
}
.content {
    color:#cc493d;
    text-align:center;
}
hr {
    height: 1px;
    border: 0;
    background-color: #cbba86;
}
.I {
    color:#cc493d;
    text-align:center;
}
.si {
    font-style: italic;
}
.II {
    color:#cc493d;
    text-align:center;
}
.box {
    width: 300;
    background-color:#cbba86;
    height: 300;
    padding: 50;
    border: 5px solid #cc493d;
    margin: 50;
}